---
title: Deploying Apps
active_menu_item: product
class_name: training_videos
active_submenu: training_videos
active_submenu_item: /product/resources/training-videos/integration
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li><a href="/product">Overview</a></li>
        <li><a href="/product/pricing">Pricing</a></li>
        <li><a href="/product/phonegap-mobile-build">Phonegap</a></li>
        <li><a href="/product/testimonials">Testimonials</a></li>
        <li class="active"><a href="/product/resources">Resources</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<% content_for :above_aside do %>
  <h4>Training Videos</h4>
<% end %>

<%= training_video 'Jy5HgPdtvMY', :title => 'An Overview', :time => '4:51',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?connections.htm',
                                      :title => 'Connections' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?queries.htm',
                                      :title => 'Queries' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?sharing.htm',
                                      :title => 'Permissions' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?configuring_the_app_to_access_.htm',
                                      :title => 'Data View Manager' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?view.htm',
                                      :title => 'Data Views' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?the_expression_editor.htm',
                                      :title => 'Expression Builder' }
                                  ] %>

<%= training_video 'tQpe5tx6qcc', :title => 'Setting up a Connection', :time => '2:20',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?configuring_a_connection.htm',
                                      :title => 'Configuring Connections' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?sharing_connections.htm',
                                      :title => 'Sharing Connections' }
                                  ] %>

<%= training_video 'wxbd6ugLxa0', :title => 'Querying external Databases', :time => '3:03',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?query_wizard.htm',
                                      :title => 'Query Wizard' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?input__output_field_configurat.htm',
                                      :title => 'Input/Output Fields' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?join_configuration.htm',
                                      :title => 'Joins' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?sharing_connections.htm',
                                      :title => 'Sharing Connections' }
                                  ] %>

<%= training_video 'bSpGoTvBrW4', :title => 'Data Views', :time => '2:18',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?configuring_the_app_to_access_.htm',
                                      :title => 'Data view Manager' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?the_expression_editor.htm',
                                      :title => 'Expression Builder' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?anatomy_of_a_view.htm',
                                      :title => 'Use of Views' }       
                                  ] %>

<%= training_video 'GzJiwBDXlX8', :title => 'Configuring Data Section Properties & Expression Editor', :time => '5:47',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?the_expression_editor.htm',
                                      :title => 'Expression Builder' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?fields.htm',
                                      :title => 'Fields' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?group_by2.htm',
                                      :title => 'Group By' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?order_by.htm',
                                      :title => 'Order By' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?filter.htm',
                                      :title => 'Filter' }                 
                                  ] %>

<%= training_video 't-MozAiRF0Q', :title => 'Automated & Javascript Drill Down', :time => '4:59',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?drill_filter.htm',
                                      :title => 'Data View Drill Down Filter' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?filters.htm',
                                      :title => 'Filters' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?setproperty.htm',
                                      :title => 'setProperty()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?refreshdata2.htm',
                                      :title => 'refreshData()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?listen.htm',
                                      :title => 'Listen' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?broadcast.htm',
                                      :title => 'Broadcast' },
                                    { :url => 'Reset Filter',
                                      :title => 'Reset Filter' }        
                                  ] %>

<%= training_video 'rKbMmF7kcXs', :title => 'Javascript, Filtering, and other tips and tricks', :time => '6:11',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?populating_charts_from_script.htm',
                                      :title => 'Populating Charts from Scripts' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?modifying_data_widgets_with_sc.htm',
                                      :title => 'Modifying Data Widgets with Scripts' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?multi_series_filters.htm',
                                      :title => 'Multi Series Filters' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?configuring_the_app_to_access_.htm',
                                      :title => 'Data View Manager' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?getviewdata.htm',
                                      :title => 'getViewData()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?populatewidget.htm',
                                      :title => 'populateWidget()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?setdata.htm',
                                      :title => 'setData()' }
                                  ] %>

<%= training_video 'N-sBju6KMFE', :title => 'Querying Apps', :time => '4:57',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?query_wizard.htm',
                                      :title => 'Query Wizard' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?input__output_field_configurat.htm',
                                      :title => 'Input/Output Fields' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?join_configuration.htm',
                                      :title => 'Joins' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?sharing_connections.htm',
                                      :title => 'Sharing Connections' }
                                  ] %>      

<%= training_video 'TrfVkAavkOQ', :title => 'Containers Explained', :time => '4:25',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?panel.htm',
                                      :title => 'Panel Container' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?view.htm',
                                      :title => 'Views' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?resetwidget.htm',
                                      :title => 'resetWidget()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?getvalue3.htm',
                                      :title => 'getValue()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?setproperty.htm',
                                      :title => 'setProperty()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?refreshdata.htm',
                                      :title => 'refreshdata()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?visible.htm',
                                      :title => 'visible()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?instance2.htm',
                                      :title => 'Instance Data Functions' }
                                  ] %>     