<% wrap_layout :layout do %>

  <header>
    <div class="container">
      <div>
        <h1>Gettin' Crafty</h1>
        <h2>A Blog written by Application Craft - the Visual IDE people</h2>
      </div>
    </div>
  </header>

  <div class="container clearfix">

    <section class="posts">

      <% if is_blog_article? %>

        <% content_for :meta_description, "#{current_article.title}. #{truncate strip_tags(current_article.body), :length => 200}" %>
        <% content_for :meta_keywords, current_article.tags.join(', ') %>

        <article>
          <section class="meta">
            <p class="date"><%= link_to current_article.date.strftime('%B %e, %Y'), current_article %></p>

            <p class="tagged">Tagged:</p>
            <ul class="tags">
              <% current_article.tags.each do |tag| %>
                <li><%= tag %></li>
              <% end %>
            </ul>

            <p class="comments">
              <%= link_to 'Comments', current_article.url + "#disqus_thread", class: "dsq-comment-count" %>
            </p>
          </section>

          <h1><%= link_to current_article.title, current_article %></h1>
          <p><%= yield %></p>
        </article>

      <% end %>

      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'applicationcraftwebsite'; // required: replace example with your forum shortname
          <% if current_page.data.old_url %>
            var disqus_identifier = 'http://www.applicationcraft.com<%= current_page.data.old_url %>';
          <% end %>

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </section>

    <aside>
      <section id="latest-posts">
        <h4>Latest posts</h4>
        <ul>
          <% blog.articles[0...5].each do |post| %>
            <li><%= link_to post.title, post %></li>
          <% end %>
        </ul>
      </section>
    </aside>

  </div>

<% end %>


<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'applicationcraftwebsite'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>

<%= javascript_include_tag 'vendor/rainbow', 'vendor/rainbow/generic', 'vendor/rainbow/javascript' %>
<%= stylesheet_link_tag 'lib/rainbow/github' %>