<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li><a href="/developers/training-videos">Videos</a></li>
        <li class="active"><a href="/developers/documentation">Documentation</a></li>
        <li><a href="https://getsatisfaction.com/application_craft" target="_blank">Forum</a></li>
        <li><a href="http://portal.applicationcraft.com" target="_blank">Bug Tracker</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<% wrap_layout :layout do %>

  <div class="container clearfix docs">

    <header>
      <div id="breadcrumbs">
        <ul>
          <li><%= link_to 'Docs', '/developers/documentation' %></li>
          <% breadcrumbs.each do |crumb| %>
            <li><%= link_to crumb[:title], crumb[:url] %></li>
          <% end %>
          <li><%= current_page.data.title %></li>
        </ul>
      </div>
    </header>

    <%= tree_for :documentation %>

    <article>
      <h1><%= current_page.data.title %></h1>
      <%= yield %>
    </article>

  </div>

<% end %>