---
title: "Video: Advanced Layout &amp; Responsive Design"
active_menu_item: developers
class_name: training_videos
active_submenu: training_videos
active_submenu_item: /developers/training-videos/advanced-layout
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li class="active"><a href="/developers/training-videos">Videos</a></li>
        <li><a href="/developers/documentation">Documentation</a></li>
        <li><a href="https://getsatisfaction.com/application_craft" target="_blank">Forum</a></li>
        <li><a href="http://portal.applicationcraft.com" target="_blank">Bug Tracker</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<%= training_video '1gkznrSEUBs', :title => 'An overview of Responsive Design', :time => '1:20',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?adaptive_layout_rules.htm',
                                      :title => 'Adaptive Layout Overview' }
                                  ] %>




<%= training_video 'SW9LQrrosUI', :title => 'The Importance of Containers', :time => '3:42',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?container_outlines.htm',
                                      :title => 'Container Outlines' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?panel.htm',
                                      :title => 'Panel Container' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?understanding_containers.htm',
                                      :title => 'Nesting Containers' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?the_widget_explorer.htm',
                                      :title => 'Widget Explorer' }
                                  ] %>

<%= training_video 'Pbe0umQVyCE', :title => 'The Sizes property explained', :time => '2:27',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?sizes_property_dialog.htm',
                                      :title => 'Sizes Property' }
                                  ] %>

<%= training_video 'IN3cVOS34mo', :title => 'Layout Modes', :time => '2:47',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?absolute_and_relative_layout.htm',
                                      :title => 'Layout Modes' }
                                  ] %>

<%= training_video '98TbMBiOSGc', :title => 'Widget Alignment', :time => '2:36',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?aligning_widgets_inside_contai.htm',
                                      :title => 'Alignment' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?margins.htm',
                                      :title => 'Margins' }
                                  ] %>

<%= training_video '8Aea0YOOGO8', :title => 'Using Tables in Adaptive Layout', :time => '3:10',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?table_container2.htm',
                                      :title => 'Table Container' }
                                  ] %>

<%= training_video 'cHbncpuUwo8', :title => 'Adaptive Layout Rules', :time => '5:50',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?adaptive_layout_rule_definitio.htm',
                                      :title => 'Adaptive Rule Definition' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?adaptive_layout_event.htm',
                                      :title => 'Adaptive Rule Events' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?panel.htm',
                                      :title => 'Panel Container' }
                                  ] %>
