---
title: "Video: Client Side Javascript"
active_menu_item: developers
class_name: training_videos
active_submenu: training_videos
active_submenu_item: /developers/training-videos/client-js
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li class="active"><a href="/developers/training-videos">Videos</a></li>
        <li><a href="/developers/documentation">Documentation</a></li>
        <li><a href="https://getsatisfaction.com/application_craft" target="_blank">Forum</a></li>
        <li><a href="http://portal.applicationcraft.com" target="_blank">Bug Tracker</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<%= training_video 'UYwR5Q2fgeI', :title => 'App & Widget Events', :time => '2:24',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?events.htm',
                                      :title => 'Events' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?the_code_editor.htm',
                                      :title => 'Code Editor' }
                                  ] %>


<%= training_video 'ct8xOC_K2Rk', :title => 'The Code Explorer and Editor', :time => '2:03',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?the_code_editor.htm',
                                      :title => 'Code Editor' }
                                  ] %>

<%= training_video '1UIHv__i3uI', :title => 'The Application Craft Client API', :time => '2:01',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?functions_you_need_a_lot.htm',
                                      :title => 'Client API' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?reading_and_writing_app_data.htm',
                                      :title => 'Widget Reading & Writing' }
                                  ] %>

<%= training_video 'IMthfeUwnC4', :title => 'Debugging your Apps', :time => '1:35',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?debugging_overview.htm',
                                      :title => 'Debugging' }
                                  ] %>

<%= training_video 'VnqUqPeXDSE', :title => 'Customizing the Error Handling', :time => '2:30',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?error_handling2.htm',
                                      :title => 'Error Handling' }
                                  ] %>

<%= training_video 'Ly5KbmvHk7E', :title => 'AJAX functions, timeouts and data population', :time => '3:13',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?soap__restful_ajax_calls.htm',
                                      :title => 'SOAP & RESTfull AJAX Calls' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?setnetworktimeout.htm',
                                      :title => 'networkTimeout()' }
                                  ] %>








