---
title: Widget Data
active_menu_item: developers
class_name: training_videos
active_submenu: training_videos
active_submenu_item: /developers/training-videos/widget-data
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li class="active"><a href="/developers/training-videos">Videos</a></li>
        <li><a href="/developers/documentation">Documentation</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="https://getsatisfaction.com/application_craft" target="_blank">Forum</a></li>
        <li><a href="http://portal.applicationcraft.com" target="_blank">Bug Tracker</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<% content_for :above_aside do %>
  <h4>Training Videos</h4>
<% end %>

<%= training_video 'VTypeamWf5E', :title => 'The Basics - Reading and Writing Widget Data', :time => '3:08',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?refgetvalue.htm',
                                      :title => 'getValue()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?refsetvalue.htm',
                                      :title => 'setValue()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?refsetvalue.htm',
                                      :title => 'getData()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?setdata.htm',
                                      :title => 'setData()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?checkmandatory.htm',
                                      :title => 'checkMandatory()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?assign.htm',
                                      :title => 'assign()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?page2.htm',
                                      :title => 'Page Functions' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?highlightwidgets.htm',
                                      :title => 'highlightWidgets()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?unhighlightwidgets.htm',
                                      :title => 'unhighlightWidgets()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?showconfirm.htm',
                                      :title => 'showConfirm()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?setproperty.htm',
                                      :title => 'setProperty()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?getproperty.htm',
                                      :title => 'getProperty()' }
                                  ] %>


<%= training_video 'xGGfUAoCM78', :title => 'Populating List Widgets with the Item Dialog', :time => '3:09',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?list_items_dialog.htm',
                                      :title => 'List Items Dialog' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?list.htm',
                                      :title => 'Mobile List Properties' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?reports__dashboards.htm',
                                      :title => 'Integration' }
                                  ] %>


<%= training_video 'q6VXeWOhAxA', :title => 'Populating List Widgets with Javascript', :time => '5:15',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?the_debugger_command.htm',
                                      :title => 'debugger Command' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?mobile_list_widgets.htm',
                                      :title => 'Mobile List' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?populatewidget.htm',
                                      :title => 'populateWidget()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?mobile_list.htm',
                                      :title => 'setData()' }
                                  ] %>


<%= training_video '3rAyD-f30ic', :title => 'Repeater Container Overview', :time => '5:04',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?repeater_containers3.htm',
                                      :title => 'Repeater Widget' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?widget_object_functions.htm',
                                      :title => 'Widget Object Functions' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?w.htm',
                                      :title => 'w()' }
                                  ] %>

<%= training_video 'fPPlPcE69yE', :title => 'Populating a Repeater with Javascript', :time => '2:56',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?populatewidget.htm',
                                      :title => 'populateWidget()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?reports__dashboards.htm' }
                                  ] %>

<%= training_video '4FXN_AsiiMs', :title => 'Populating Chart Widgets', :time => '5:04',
                                  :references => [
                                    { :url => '/revisions/current/docs/user-guide/index.html?data_views.htm',
                                      :title => 'Data View Functions' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?getviewdata.htm',
                                      :title => 'getViewData()' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?group_by3.htm',
                                      :title => 'Group By' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?order_by2.htm',
                                      :title => 'Order By' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?filters.htm',
                                      :title => 'Filters' },
                                    { :url => '/revisions/current/docs/user-guide/index.html?multi_series_filters.htm',
                                      :title => 'Multi Series Filters' }
                                  ] %>
