<footer>
  <section>
    <div class="container clearfix">
      <ul>
        <li>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/product">Product</a></li>
            <li><a href="/product/phonegap-mobile-build">Mobile Build</a></li>
            <li><a href="/product/enterprise">Enterprise</a></li>
            <li><a href="/product/testimonials">Testimonials</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="/developers">Developers</a></li>
            <li><a href="/developers">Support</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/legal/faqs">FAQ's</a></li>
            <li><a href="/company/contact-us">Contact us</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/webinars">Webinars</a></li>
            <li><a href="/company">About us</a></li>
            <li><a href="/legal">Legal</a></li>
            <li><a href="/referral-program">Referral Program</a></li>
          </ul>
        </li>
      </ul>

      <div id="webinars">
        <div id="webinars-inner">
          <h3>Upcoming Webinar Sessions:</h3>
          <div class="clearfix">
            <% if data.webinars.sales.size > 0 %>
              <% data.webinars.sales.each do |w| %>
                <p>
                  <%= w.date %>
                  <span>
                    <a href="/webinars">more info</a>
                    <% if !w.full && !w.disabled %>
                      | <a href="<%= w.url %>" target="_blank">register</a>
                    <% end %>
                  </span>
                </p>
              <% end %>
            <% end %>

            <% data.webinars.clinics.each do |w| %>
              <p>
                <span class="title"><%= w.title %></span>
                <%= w.date %>
                <span>
                  <a href="/webinars">more info</a>
                  <% if !w.full && !w.disabled %>
                    | <a href="<%= w.url %>" target="_blank">register</a>
                  <% end %>
                </span>
              </p>
            <% end if (data.webinars.clinics || []).size > 0 %>
          </div>
          <p>Hope to see you there!</p>
        </div>
      </div>

      <ul id="social-icons">
        <li><a href="http://twitter.com/appcrafty"><span></span>Twitter</a></li>
        <li><a href="https://www.facebook.com/ApplicationCraft"><span></span>Facebook</a></li>
        <li><a href="https://plus.google.com/b/114193155177577005539/?prsrc=3"><span></span>Google+</a></li>
        <li><a href="http://www.youtube.com/user/appcrafty"><span></span>Youtube</a></li>
      </ul>
    </div>
  </section>

  <section>
    <div class="container clearfix">
      <div>
        <a href="https://github.com/ApplicationCraft/applicationcraft.com" target="_blank">This site is open source... Fork it!</a>
      </div>

      Copyright &copy; <%= Date.today.year %> Application Craft Ltd. All rights reserved.
      Read our <a href="/legal/privacy">Privacy policy</a>.
    </div>
  </section>
</footer>


<div id="sign-in" class="modal">
  <h2>Sign In</h2>
  <p>To sign in to your account, you need to go to your custom sub-domain, where you will be prompted to enter your username and password. Choose from the list below, or enter your subdomain in the field provided.</p>
  <hr />
  <div class="waLoginList">
    <div class="waLoginListDiv">
      <span style="position: relative;">&nbsp;</span>
    </div>
  </div>
</div>

<div id="old-browser">
  <div id="old-browser-inner">
    <%= image_tag 'logo.png', :width => 309, :height => 23 %>
    <h1>Your browser is very old and will not work correctly with ApplicationCraft.</h1>
    <p>Please upgrade Internet Explorer or use a modern browser, and <a href="http://browsehappy.com/" target="_blank">Browse Happy!</a></p>
  </div>
</div>

<%= partial 'webinar_dialog' %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<!-- <script src="/js/vendor/protofluid.min.js"></script> -->
<script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
<%= javascript_include_tag 'main' %>
<%= yield_content :foot %>

<% if !current_page.app.development? && !current_page.path.start_with?('developers/documentation') %>
  <script>
    var _gaq=[['_setAccount','UA-11680203-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

  <% if current_page.data.class_name != 'developers' %>
    <!-- Olark Live Chat -->
    <script data-cfasync="false" type='text/javascript'>window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
    f[z]=function(){
    (a.s=a.s||[]).push(arguments)};var a=f[z]._={
    },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
    f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
    0:+new Date};a.P=function(u){
    a.p[u]=new Date-a.p[0]};function s(){
    a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
    hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
    return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
    b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
    b.contentWindow[g].open()}catch(w){
    c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
    var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
    b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
    loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
    olark.identify('7867-328-10-1175');</script>
  <% end %>
<% end %>

<% unless current_page.app.development? %>
  <script type="text/javascript">
    var GoSquared = {};
    GoSquared.acct = "GSN-663017-Q";
    (function(w){
      function gs(){
        w._gstc_lt = +new Date;
        var d = document, g = d.createElement("script");
        g.type = "text/javascript";
        g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
        var s = d.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(g, s);
      }
      w.addEventListener ?
        w.addEventListener("load", gs, false) :
        w.attachEvent("onload", gs);
    })(window);
  </script>
<% end %>