<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= current_page.data.title %> - Application Craft</title>
    <meta name="description" content="">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no' />

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/boilerplate.css">
  </head>
  <body class="<%= current_page.data.class_name || 'standard' %>">
    <a id="top"></a>

    <nav class="main">
      <div class="container">

        <ul class="clearfix">
          <li><a href="/"><img src="/img/logo.gif" width="321" height="32"></a></li>
          <li class="clearfix">
            <ul class="clearfix">
              <li class="<%= 'active' if current_page.data.class_name == 'home' %>"><a href="/" class="active">Home</a></li>
              <li class="<%= 'active' if current_page.data.class_name == 'products' %>"><a href="/products">Products</a></li>
              <li class="<%= 'active' if current_page.data.class_name == 'sign-in' %>"><a href="/sign-in">Sign In</a></li>
              <li class="nofade <%= 'active' if current_page.data.class_name == 'sign-up' %>"><a href="/sign-up">Sign Up Today</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <% unless current_page.data.full_width %>

      <div id="content-body" class="container">
        <h1><%= current_page.data.title %></h1>

        <div class="clearfix">
          <aside>
            <ul>
              <% current_page.data.submenu.each do |f| %>
                <li>
                  <% if f.active %>
                    <%= f.text %>
                  <% else %>
                    <a href="<%= f.url %>"><%= f.text %></a>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </aside>

          <article>
            <%= yield %>
          </article>
        </div>
      </div>

    <% else %>
      <%= yield %>
    <% end %>

    <section id="price-banner" class="clearfix">
      <div class="container">
        <div>only <span>$14</span> per month</div>
        <div class="nofade"><a href="#">
          <p>Try it for Free!</p>
          <p><span>&#x2605;</span> 14 day free trial <span>&#x2605;</span></p>
        </a></div>
        <div>no credit card necessary</div>
      </div>
    </section>

    <footer>
      <section>
        <div class="container">
          <ul class="clearfix">
            <li>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Services</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">Developers</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/legal">Legal</a></li>
              </ul>
            </li>
            <li>
              <ul class="clearfix">
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Google+</a></li>
                <li><a href="#">Youtube</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </section>

      <section>
        <div class="container">
          Copyright &copy; <%= Date.today.year %> Application Craft Ltd. All rights reserved.
        </div>
      </section>
    </footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="/js/vendor/protofluid.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
