<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= current_page.data.title %> - Application Craft</title>
    <meta name="description" content="">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no' />

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/boilerplate.css">
  </head>
  <body class="<%= current_page.data.class_name || 'standard' %>">
    <a id="top"></a>

    <nav class="main">
      <div class="container">

        <ul class="clearfix">
          <li><a href="/"><img src="/img/logo.gif" width="321" height="32"></a></li>
          <li class="clearfix">
            <ul class="clearfix">
              <li class="<%= 'active' if current_page.data.active_menu_item == 'home' %>"><a href="/" class="active">Home</a></li>
              <li class="<%= 'active' if current_page.data.active_menu_item == 'product' %>"><a href="/product">Product</a></li>
              <li class="<%= 'active' if current_page.data.active_menu_item == 'sign-in' %>"><a href="/sign-in">Sign In</a></li>
              <li class="nofade <%= 'active' if current_page.data.active_menu_item == 'sign-up' %>"><a href="/get-started">Sign Up Today</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield_content :submenu %>

    <% unless current_page.data.full_width %>

      <div id="content-body" class="container">
        <h1>
          <button type="button" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= current_page.data.title %>
        </h1>

        <div class="clearfix">
          <aside>
            <%= yield_content :above_aside %>

            <% if current_page.data.active_submenu %>
              <ul>
                <% data.send(current_page.data.active_submenu).submenu.each do |f| %>
                  <li class="<%= 'active' if current_page.data.active_submenu_item == f.url %>">
                    <a href="<%= f.url %>"><%= f.text %></a>
                  </li>
                <% end %>
              </ul>
            <% end %>

            <%= yield_content :below_aside %>
            &nbsp;
          </aside>

          <article>
            <%= yield %>
          </article>
        </div>
      </div>

    <% else %>
      <%= yield %>
    <% end %>

    <section id="price-banner" class="clearfix">
      <div class="container">
        <div>only <span>$14</span> per month</div>
        <div class="nofade"><a href="/get-started">
          <p>Try it for Free!</p>
          <p><span>&#x2605;</span> 14 day free trial <span>&#x2605;</span></p>
        </a></div>
        <div>no credit card necessary</div>
      </div>
    </section>

    <footer>
      <section>
        <div class="container">
          <ul class="clearfix">
            <li>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/product">Products</a></li>
                <li><a href="/services">Services</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="/product/resources">Developers</a></li>
                <li><a href="/product/resources">Support</a></li>
                <li><a href="/company/contact-us">Contact</a></li>
              </ul>
            </li>
            <li>
              <ul>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/legal">Legal</a></li>
              </ul>
            </li>
            <li>
              <ul class="clearfix">
                <li><a href="http://twitter.com/appcrafty">Twitter</a></li>
                <li><a href="https://www.facebook.com/ApplicationCraft">Facebook</a></li>
                <li><a href="https://plus.google.com/b/114193155177577005539/?prsrc=3">Google+</a></li>
                <li><a href="http://www.youtube.com/user/appcrafty">Youtube</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </section>

      <section>
        <div class="container">
          Copyright &copy; <%= Date.today.year %> Application Craft Ltd. All rights reserved.
        </div>
      </section>
    </footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="/js/vendor/protofluid.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
