---
title: Services
active_menu_item: services
active_submenu: services
meta_keywords: services, mobile application development tools, android, html5, iphone, ios, mobile development platform, mobile application software, app development, app developments, applications, application, apps, tools, tool, platform, platforms, software, softwares, environment, html 5, ipad, windows, blackberry, smartphone, symbian, desktop
class_name: services
full_width: true
---

<header>
  <div class="container">

    <div>
      <h1>Services</h1>
      <h2>We built the Application Craft and Codio platforms, demonstrating a deep experience in front and back end technologies. Our large team of world-class developers can also build your Startup, Departmental or Enterprise solution, so please get in touch!</h2>
    </div>

    <div class="clearfix">
      <div class="front-end">
        <div><%= image_tag 'services/front-end.png', :width => 240 %></div>
        <h3>Front-End</h3>
        <p>We speak HTML5+CSS+JS fluently as well as many front-end frameworks and libraries</p>
      </div>
      <div class="cross-platform">
        <div><%= image_tag 'services/cross-platform.png', :width => 230 %></div>
        <h3>X Platform</h3>
        <p>We build cross-platform, responsive applications and sites for desktop and mobile</p>
      </div>
      <div class="back-end">
        <div><%= image_tag 'services/back-end.png', :width => 220 %></div>
        <h3>Back-End</h3>
        <p>Node.js, Java, Ruby and .Net with SQL and NoSQL databases</p>
      </div>
    </div>

  </div>
</header>

<div id="content-body" class="container">
  <div class="clearfix">
    <aside>
      <% if current_page.data.active_submenu %>
        <ul id="submenu" data-spy="affix" data-offset-top="750">
          <% data.send(current_page.data.active_submenu).submenu.each do |f| %>
            <li class="<%= 'active' if current_page.data.active_submenu_item == f.url %>">
              <a href="<%= f.url %>"><%= f.text %></a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </aside>

    <article>

     <h2 id="toc_0">Why Application Craft?</h2>

      <p>The best way to explain our expertise is to take a look at the Application Craft and Codio platforms, both of which are built by our team. These products are substantial, sophisticated and incorporate cutting edge technologies at the front and back end.</p>

      <p>This expertise allows us to apply the knowledge and insight we have gained from large scale platform development to your application.</p>

      <p>We are also experts on HTML5 (hybrid) cross-platform development for mobile devices. While not suitable for every application, there are huge advantages in terms of cost, speed of development and maintenance.</p>

      <hr>

      <p><strong><a href="#toc_3">Contact us</a> to discuss how an application development project could improve your business.</strong></p>

      <hr>

      <h2 id="toc_1">What we do</h2>
      <p>We're here to build your desktop or mobile applications. We specialize in front-end web development (HTML5+CSS+JS) and we often build the back-end, too.</p>
      <p>We are very comfortable with all HTML5 based front-end technologies and we use a variety of back end technologies such as Java, Node.js, Ruby and .Net. We are also at home with both relational and NoSQL databases.</p>
      <p> We do not do native Mobile App development but we are experts in cross-platform mobile application development, where you want to run on any mobile device (and even desktop) from a single code base. This 'Hybrid' development process also allows deployment to Apple and Google app stores.</p>

      

      <div class="clearfix" id="services-showcase">
        <div id="services-showcase-coke">
          <a href="http://www.applicationcraft.com/pdf/testimonials/AC%20Case%20Study%20CCE.pdf"  target="_blank" class="mb-thumb"></a>
          <ul>
            <li>In-store product monitoring.</li>
            <li><a href="http://www.applicationcraft.com/pdf/testimonials/AC%20Case%20Study%20CCE.pdf"  target="_blank">tell me more...</a></li>
          </ul>
        </div>
        <div id="services-showcase-hcri">
          <a href="http://www.applicationcraft.com/pdf/testimonials/AC%20Case%20Study%20HCRI.pdf"  target="_blank"class="mb-thumb" target="_blank"></a>
          <ul>
            <li>Healthcare and electronic patient record application.</li>
            <li>Multilingual survey system.</li>
            <li><a href="http://www.applicationcraft.com/pdf/testimonials/AC%20Case%20Study%20HCRI.pdf" target="_blank">tell me more...</a></li>
          </ul>
        </div>
        <div id="services-showcase-ndtech">
          <a href="http://www.applicationcraft.com/pdf/testimonials/AC%20Case%20Study%20NDTECH.pdf"  target="_blank" class="mb-thumb"></a>
          <ul>
            <li>Tablet based applications for field sales support.</li>
            <li><a href="http://www.applicationcraft.com/pdf/testimonials/AC%20Case%20Study%20NDTECH.pdf"  target="_blank">tell me more...</a></li>
          </ul>
        </div>
      </div>


      <h2 id="toc_2">Contact Us</h2>

      <p>Write to us using the form below and we will get in touch with you quickly. Or you can <a href="mailto:sales@applicationcraft.com">email</a> us directly.</p>

      <script src="http://ac-static.applicationcraft.com/ac/1.20/live/userlive.js" type="text/javascript"></script>

      <script type="text/javascript">
        waInitForm("c6bb97f9-e26d-49ee-83dc-043209afb2bc", 650, 400, null, null, null, "http://ac.applicationcraft.com/live.html");
      </script>

    </article>
  </div>
</div>
